In [ ]:
#While loop
counter = 5
while counter != 0:
    print("Inside the loop.", counter)
    counter -= 1
print("Outside the loop.", counter)

Inside the loop. 5
Inside the loop. 4
Inside the loop. 3
Inside the loop. 2
Inside the loop. 1
Outside the loop. 0

In [ ]:
counter = 5
while counter:
    print("Inside the loop.", counter)
    counter -= 1
print("Outside the loop.", counter)

Inside the loop. 5
Inside the loop. 4
Inside the loop. 3
Inside the loop. 2
Inside the loop. 1
Outside the loop. 0

In [ ]:
#Lists
numbers = [111, 7, 2, 1]
print(len(numbers))
print(numbers)

###

numbers.append(4)

print(len(numbers))
print(numbers)

###

numbers.insert(0, 222)
print(len(numbers))
print(numbers)

#
numbers.insert(1, 333)
print(numbers)

4
[111, 7, 2, 1]
5
[111, 7, 2, 1, 4]
6
[222, 111, 7, 2, 1, 4]
[222, 333, 111, 7, 2, 1, 4]

In [ ]:
my_list = []  # Creating an empty list.

for i in range(5):
    my_list.append(i + 1)

print(my_list)

[1, 2, 3, 4, 5]

In [ ]:
my_list = [10, 1, 8, 3, 5]
total = 0

for i in range(len(my_list)):
    total += my_list[i]

print(total)

27

In [ ]:
beatles = []
# step 1
print("Step 1:", beatles)

# step 2
print("Step 2:", beatles)

# step 3
print("Step 3:", beatles)

# step 4
print("Step 4:", beatles)

# step 5
print("Step 5:", beatles)


# testing list legth
print("The Fab", len(beatles))

Step 1: [0]
Step 2: [0]
Step 3: [0]
Step 4: [0]
Step 5: [0]
The Fab 1

In [ ]:
#Collection of different data types
my_list = [1, None, True, 'I am a string', 256, 0]
print(my_list[3])  # outputs: I am a string
print(my_list[-1])  # outputs: 0

my_list[1] = '?'
print(my_list)  # outputs: [1, '?', True, 'I am a string', 256, 0]

my_list.insert(0, "first")
my_list.append("last")
print(my_list)  # outputs: ['first', 1, '?', True, 'I am a string', 256, 0, 'last']

I am a string
0
[1, '?', True, 'I am a string', 256, 0]
['first', 1, '?', True, 'I am a string', 256, 0, 'last']

In [ ]:
#Nested list
my_list = [1, 'a', ["list", 64, [0, 1], False]]
print(my_list[2])

['list', 64, [0, 1], False]

In [ ]:
#deleting items from the list
my_list = [1, 2, 3, 4, 5]
del my_list[2]
print(my_list)

del my_list

[1, 2, 4, 5]

In [ ]:
#iterated
my_list = ["white", "purple", "blue", "yellow", "green"]

for color in my_list:
    print(color)

In [ ]:
#Length of the list

my_list = ["white", "purple", "blue", "yellow", "green"]
print(len(my_list))  # outputs 5

del my_list[2]
print(len(my_list))  # outputs 4

In [ ]:
#insert and append method
lst = [1, 2, 3, 4, 5]
lst.insert(1, 6)
print(lst)
del lst[0]
print(lst)
lst.append(1)

print(lst)

[1, 6, 2, 3, 4, 5]
[6, 2, 3, 4, 5]
[6, 2, 3, 4, 5, 1]

In [ ]:
lst = [1, 2, 3, 4, 5]
lst_2 = []
add = 0

for number in lst:
    add += number
    lst_2.append(add)

print(lst_2)

[1, 3, 6, 10, 15]

In [7]:
#Bubble sort
my_list = [8, 10, 6, 2, 4]  # list to sort

for i in range(len(my_list) - 1):  # we need (5 - 1) comparisons
    if my_list[i] > my_list[i + 1]:  # compare adjacent elements
        my_list[i], my_list[i + 1] = my_list[i + 1], my_list[i]  # If we end up here, we have to swap the elements.
print(my_list)

[8, 6, 2, 4, 10]

In [10]:
my_list = [8, 10, 6, 2, 4]  # list to sort
swapped = True  # It's a little fake, we need it to enter the while loop.

while swapped:
    swapped = False  # no swaps so far
    for i in range(len(my_list) - 1):
        if my_list[i] > my_list[i + 1]:
            swapped = True  # a swap occurred!
            my_list[i], my_list[i + 1] = my_list[i + 1], my_list[i]

print(my_list)

[2, 4, 6, 8, 10]

In [ ]:
my_list = []
swapped =True
num = int(input("How many elements do you want to sort: "))

for i in range(num):
  val = float(input("Enter a list element: "))
  my_list.append(val)

  while swapped:
    swapped = False
    for i in range(len(my_list) - 1):
        if my_list[1] > my_list[i + 1]:
          swapped = True
          my_list[i], my_list[i + 1] = my_list[i + 1], my_list[i]
          print("swapped list: ", my_list)

print(my_list)

In [17]:
my_list = [8, 10, 6, 2, 4]
my_list.sort()
print(my_list)

[2, 4, 6, 8, 10]

In [20]:
#Ascending and Descending orders
my_list = [8, 10, 6, 2, 4]
my_list.sort()  #the sort method automatically sorts number in ascending order

print("List sorted in ascending order: ", my_list)
my_list.sort(reverse = True) #sorting numbers in descending order

print("List sorted in descending order: ", my_list)

List sorted in ascending order:  [2, 4, 6, 8, 10]
List sorted in descending order:  [10, 8, 6, 4, 2]

In [ ]:
#Arranging list in reverse order

lst = [5, 3, 1, 2, 4]
print(lst)

lst.reverse() #arranging list numbers in reverse order
print(lst)  # outputs: [4, 2, 1, 3, 5]

In [ ]:
#Sorting string values
lst = ["D", "F", "A", "Z"]
lst.sort()

print(lst)

In [ ]:
a = 3
b = 1
c = 2

lst = [a, c, b]
lst.sort()

print(lst)

In [23]:
a = "A"
b = "B"
c = "C"
d = " "

lst = [a, b, c, d]
lst.reverse()

print(lst)

[' ', 'C', 'B', 'A']